/* Media query, when screen less than 768 */
/* @media (max-width: 768px) {
  .mapboxgl-ctrl-bottom-right {
    top: 10px;
    left: 10px !important;
  }
} */
/* .mapboxgl-ctrl .mapboxgl-ctrl-logo {
  position: fixed;
  top: 10px;
  left: 10px;
} */
