/* BlockNote Core Fonts */
@import "@blocknote/core/fonts/inter.css";

/* BlockNote Mantine Styles */
@import "@blocknote/mantine/style.css";

/* Custom BlockNote Styles */
/* Get rid of blue outline around selected nodes: https://github.com/TypeCellOS/BlockNote/issues/998 */
.ProseMirror-selectednode > .bn-block-content > *,
.bn-block-content.ProseMirror-selectednode > * {
  outline: none !important;
}

.bn-editor {
  padding: 0;
}

h1.bn-inline-content {
  font-size: 1.25rem;
}

h2.bn-inline-content {
  font-size: 1.125rem;
}

h3.bn-inline-content {
  font-size: 1rem;
}

.bn-container[data-color-scheme] {
  --bn-colors-editor-background: transparent;
  /* --bn-colors-editor-text: #222222; */
  /* --bn-colors-menu-text: #ffffff;
  --bn-colors-menu-background: #9b0000;
  --bn-colors-tooltip-text: #ffffff;
  --bn-colors-tooltip-background: #b00000;
  --bn-colors-hovered-text: #ffffff;
  --bn-colors-hovered-background: #b00000;
  --bn-colors-selected-text: #ffffff;
  --bn-colors-selected-background: #c50000;
  --bn-colors-disabled-text: #9b0000;
  --bn-colors-disabled-background: #7d0000;
  --bn-colors-shadow: #640000;
  --bn-colors-border: #870000;
  --bn-colors-side-menu: #bababa;
  --bn-color-highlight-colors: #ffffff;
  --bn-border-radius: 4px;
  --bn-font-family: Helvetica Neue, sans-serif; */
} 